*{
	box-sizing: border-box; 
}
html{
	font-size: 20px; 
}
body {
	background-color:#771668;
	margin-top:80px;

}
header{
	position: fixed;
	top:0px;
	left:0px;
	background-color: #771668;
	width:100%;
	padding: 10px;
	border:1px solid black;
	
	
}

.nav {
	font-size: 1.5rem;
	color: white;
	display: flex;
	gap:40px;
	text-decoration: none;		
}
section{
			
}

p.intro{
	color: white;
	font-size: 6rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin:0px;
	align-items: center;
	gap:0px;
	
}
p.little-intro{
color: white;
font-size: 2rem;
display: flex;
justify-content: center;
}