* {
	box-sizing: border-box; 
}

html {
	font-size: 20px;
}

body {
	background-color: #44103d;
	width: 100%;
	/*margin: 100px 0px 0px;*/
}

.headerText:hover {
	background-color: #6c319a;
}

.start-btn {
	padding: 20px;
	border: 3px solid #000000;
	background-color: #8e48bb;
	font-weight: bold;
}

a, p, h1, h2, h3, h4, h5, h6 {
	color: white;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #2d094f;
	width: 100%;
	padding: 10px;
	border: 3px solid black;
	z-index: 10;
	font-size: 1.5rem;
	color: white;
	display: flex;
	gap: 40px;
}

.intro {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	width: 100%;
	animation-name: welcome;
	animation-direction: normal;
	animation-duration: 15s;
}

@keyframes welcome {
	0% {opacity: 0;}
	50% {opacity: 1;}
}

p.intro {
	font-size: 6rem;
	margin: 0px;
}

p.second-intro {
	font-size: 2rem;
}

.about-piece{
	width: 100%;
	background-color: #3C0051;
	/*margin-top: 30px;*/
	border: 5px solid black;
	padding: 50px;
}

.about-contents {
	display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

p.about-contents {
	font-size: 1rem;
}

.about-image{
	object-fit: contain ;
	width: 50%;
	height: 500px;
}

.portfolio-intro {
	width: 100%;
  	background-color: #322245;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.gitHubImage{
	width: 100px;
	height: 50px;
}

.portfolio {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    align-items: stretch;
	justify-content: space-around;
	background-color: #210d4d;
}
.portfolio-piece:hover {
	background-color: #6c319a;
}

.portfolio-piece {
	width: 30%;
	background-color: #60046e;
	margin-top: 30px;
	margin-bottom: 5px;
	border: 5px solid black;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
	justify-content: center;
    align-items: center;
	text-align: center;
	border-radius: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}


a.portfolio-text {
	font-size: 1.2rem;
	object-fit: contain ;
	text-align: center;
}

.portfolio-image {
	object-fit: contain ;
	width: 100%;
}

section.contact {
    width: 100%;
  	background-color: #7d5e9f;
	padding: 10px;
	border: 5px solid black;
}

h2.contact {
	margin-left: 15px;
}

p.contact-intro {
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.contact-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

.enlarger {
	overflow: hidden;
	transition: all .3s ease;
}

.enlarger.expand {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #443669;
	border: 5px solid black;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-between;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	z-index: 9999;
}

@media only screen and (max-width: 767px) {
		.portfolio-piece {
			width: 100%; /* Full width on smaller screens */
			border-radius: 10px; /* Remove border-radius on smaller screens if needed */
			font-size: 0.8rem; /* Adjust the font size for smaller screens */
		}
	.enlarger.expand {
		width: 90%; /* Adjust the width for smaller screens */
		padding: 10px; /* Adjust padding for smaller screens */
		font-size: 0.8rem; /* Adjust the font size for smaller screens */
	}
}


/*	.portfolio-piece {*/
/*		font-size: 26px;*/
/*	}*/
/*	.about-contents {*/
/*		font-size: 1.5rem;*/
/*	}*/
/*	.about-image {*/
/*		width: 80%;*/
/*	}*/
/*}*/
/*	}*/
/*	.intro {*/
/*		margin-top: 20%;*/
/*		font-size: 2rem;*/
/*	}*/
/*}*/
