* {
	box-sizing: border-box; 
}

html {
	font-size: 20px; 
}

body {
	background-color:#771668;
	width: 100%;
	margin-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.headerText:hover {
	background-color: #6c319a;
}

a, p, h1, h2, h3, h4, h5, h6 {
	color: white;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #2d094f;
	width: 100%;
	padding: 10px;
	border: 3px solid black;
	z-index: 10;
	font-size: 1.5rem;
	color: white;
	display: flex;
	gap: 40px;
}

.intro {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

p.intro {
	font-size: 6rem;
	margin: 0px;
}

p.second-intro {
	font-size: 2rem;
}


.about-piece{
	width: 100%;
	background-color: #3C0051;
	margin-top: 30px;
	border: 5px solid black;
	padding: 50px;
}

.about-contents {
	display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

p.about-contents {
	font-size: 1rem;
}

.about-image{
	object-fit: contain ;
	width: 50%;
	height: 500px;
}

.portfolio-intro {
	width: 100%;
  	background-color: #322245;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gitHubImage{
	width: 100px;
	height: 50px;
}

.portfolio {
	display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #210d4d;
}

.portfolio-piece {
	width: 90%;
	background-color: #60046e;
	margin-top: 30px;
	margin-bottom: 5px;
	border: 5px solid black;
	padding: 20px;
	display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

a.portfolio-text {
	font-size: 1.2rem;
	object-fit: contain ;
}

.portfolio-image {
	object-fit: contain ;
	margin-bottom: 5px;
	width: 100%;
	height: 400px;
}

section.contact {
    width: 100%;
  	background-color: #322245;	
	padding: 10px;
	border: 5px solid black;
}

h2.contact {
	margin-left: 15px;
}

p.contact-intro {
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.contact-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}